.catalog__product {
    width: 220px;
    display: inline-block;
    margin-bottom: 25px;
}

.catalog__product img {
    max-width: 180px;
    max-height: 180px;
}

.catalog__img-container {
    width: 180px;
    height: 180px;
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(238, 238, 238);
}