* {
    font-family: Roboto, sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f8f8f8;
}

p {
    max-width: 800px;
}

main {
    margin-bottom: 60px;
    position: relative;
}

.container {
    width: 87%;
    margin: 0% auto;
    max-width: 1165px;
}

.container--flex {
    display: flex;
}

.breadcrumbs {
    color:  #989898;
    font-size: 12px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-decoration: none;
}

.breadcrumbs a {
    color:  #989898;
    font-size: 12px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-decoration: none;
}

.breadcrumb--active {
    background-color: #faef03;
    padding: 5px;
    height: 14px;
    display: inline-block;
}

.right {
    display: inline-block;
    width: calc(100% - 290px);
    padding-top: 38px;
    padding-left: 25px;
}

.left {
    display: inline-block;
}


.block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.facebook {
    background: #3b5997 url('../img/f_icon.png') no-repeat 50% 50%;
    width: 34%;
    height: 150px;
    display: inline-block;
}

.twitter {
    background: #3fccfd url('../img/tw_icon.png') no-repeat 50% 50%;
    width: 34%;
    height: 150px;
    display: inline-block;
}

.pinterest {
    background: #cb2027 url('../img/pin_icon.png') no-repeat 50% 50%;
    width: 34%;
    height: 150px;
    display: inline-block;
}

