.product__img {
    max-width: 370px;
    max-height: 370px;
    border-style: solid;
    border-width: 2px;
    border-color:  #eeeeee;
}

.product__img:hover {
    border-color: transparent;
}

.product__img--float {
    float: left;
    margin-right: 20px;
}

.clearfix {
    clear: both;
}

.breadcrumbs {
    margin-bottom: 20px;
}

.oglava {
    font-family: Roboto;
    color:  #353535;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.product__photo {
    text-align: center;
}

.product__photo img {
    display: inline-block;
    max-width: 70px;
    max-height: 110px;
    margin-right: 10px;
    margin-top: 10px;
}

.product__photo a {
    text-decoration: none;
}

.product__price {
    font-family: Roboto;
    color: #111111;
    font-size: 21.99px; /* Приближение из-за подстановки шрифтов */
    font-weight: 500;
    font-style: italic;
    text-align: left;
    margin-top: 40px;
}

.product__h3 {
    background-color:  #26d2fc;
    display: inline-block;
    height: 35px;
    margin-top: 10px;
    margin-left: 20px;
}

.product__h3 p {
    font-family: Roboto;
    color:  #333333;
    font-size: 10.91px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    transform: scaleY(1.1);
    text-transform: uppercase;
    padding: 0 10px 0 10px;
}

.product__desc {
    font-family: Roboto;
    color:  #707070;
    font-size: 12px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 16px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.product__details {
    font-family: Verdana;
    color:  #808080;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    border: 1px solid #c7c7c7;
    padding: 10px;
    margin-bottom: 20px;
}

.product__buy {
    text-align: center;
}

.product__buy p {
    display: inline-block;
    background-color:  #fb4d01;
    height: 18px;
    font-family: Roboto;
    color:  #ffffff;
    font-size: 15.99px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 20px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleY(1.0008);
    text-transform: uppercase;
    padding: 20px 10px 20px 10px;
    margin-top: 20px;
}

.product__buy:hover p {
    background-color: #cccccc;
    cursor: pointer;
}

.product__buy:active p {
    background-color: yellow;
}

.like {
    margin-top: 70px;
    font-family: Roboto;
    color:  #333333;
    font-size: 30px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    font-style: italic;
}
